/*@import "bourbon";*/

@charset "utf-8";
/* CSS Document */

/*header style*/
#HEADER_PREFACE, #HEADER_PRODUCT_VERSION {
    text-align: center;
    color: white;
    font-size: 15;
}

#header_menu_img {
    width: 40px;
    height: fit-content;
    border-radius: 50%;
    margin-top: 3px;
}

#logout_img {
    width: 25px;
    height: fit-content;
    margin-bottom: 5px;
    float: right;
}

#largeLog_img {
    width: 145px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    float: right;
}
/*common style*/
h2, h3 {
    line-height: 1 !important;
    font-size: 100% !important;
}


body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position:relative;
	min-height: 100%;
	background:#f9f9f9;
}
img{
	display:block;
	max-width:100%;
}

.hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.footer_table {
    color: #d0d0d0;
}

html,body{
	min-height:100%;
	position:relative;
}

.loginbox {
    margin: auto;
}

.login_button {
    width : 100%;
    background-color: #337ab7!important;
    border: #337ab7!important;
    color: #ffffff!important;
}

/* .login_table {
    width: auto;
    margin-top: 20px;
} */

.login_button:hover {
    background-color: #286090!important;
    border: #286090!important;
}
.form-signin {
  border-radius: 10px;
  
  padding: 10px 20px 25px;
  margin: 0pt;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);  }

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    font-size: 16px;
    height: 34px;
    padding: 10px;
}

#mb-40{
	margin-bottom: 40px;
}

.ml-5{
	margin-left: 5px;
}

.mb-5{
	margin-bottom: 5px;
}
.mt-10{
	margin-top: 10px;
}
.mb-10{
	margin-bottom: 10px;
}
.navbar-nav{
	margin-left: 100px;
	float: none !important;
}

#loginbody{
	background-image:url('../img/background.jpg') !important;
	background-attachment:fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.spam{
    width: 125px;
    height:35px;
    position: relative;
    text-align: center;
}
.spamTxt{
    font-size: 16px;
    position: absolute;
    top: 11%;
    left: 32%;
    color: #337ab7;
    font-weight: bold;
}

.navbar-brand{
	float: none !important;
}

.navbar-brand img{
	display: inline-block !important;
}

.small-btn {
    min-width: 97px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 7px 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.homecontainer{
	width: 100% !important;
}

.navbar-default{
	height: 92px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	/* line-height: 30px !important; */
	border-top: none !important;
}

.tableFixHead .table {
    background-color: #ffffff;
}

/*
table header frozen
*/
.tableFixHead {
    overflow: auto;
    height: 65%;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*add margin to btn-group input childs*/
.btn-group input {
    margin-right: 2px!important;
    margin-bottom: 5px;;
    /* border-radius: 20px!important; */
}

/*common background image and setting*/

.main_content {
    background-image: url('../img/cback1.jpg');
    background-attachment:fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
    background-color: rgba(255, 255, 255, 0.586);
    background-blend-mode: overlay;
    padding:5px;
    width: 100%;
    height: 100%;
}
